* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game {
    position: relative;
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

#ground {
    position: absolute;
    background: url('../img/ground.png');
    background-position: center center;
    background-color: black;
    top: calc( 100% - 80px);
    height: 80px;
    width: 100%;
}

#dino {
    width: 100px;
    height: 100px;
    background-image: url("../img/character.png");
    background-size: 100px 100px;
    position: relative;
    top: calc(100% - 80px - 100px);
    left: 20px;
}

.dinoJump {
    animation: dinoJump 1s linear;
}

@keyframes dinoJump {
    0% {
        top: calc(100% - 80px - 100px);
    }

    50% {
        top: calc(100% - 80px - 300px);
    }

    100% {
        top: calc(100% - 80px - 100px);
    }
}

#cactus {
    width: 40px;
    height: 80px;
    background-image: url("../img/stone.png");
    background-size: 40px 80px;
    position: relative;
    top: calc(100% - 80px - 180px);
    left: calc(100% - 20px);
    animation: cactusMoivng 2s infinite linear;
}

@keyframes cactusMoivng {
    0% {
        left: calc(100% - 20px);
    }
    100% {
        left: calc(0% - 20px);
    }
}

.restart {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: calc(50% - 40vh / 2);
    left: calc(50% - 85vw / 2 - 20px / 2);
    border: 20px ridge rgba(170, 50, 220, .6);
    background: rgba(170, 50, 220, .6);
}

.score {
    color: white;
}

.reset {
    font-size: 300%;
    color: #9ef001;
    border: 5px solid rgba(570, 70, 290, 1);
    background-color: black;
    border-radius: 8px;
    padding: 10px;
    margin: 25px;
    animation: jittery 4s infinite;
}
@keyframes jittery {
    5%, 50% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    15% {
        transform: scale(1.15);
    }
    20% {
        transform: scale(1.15) rotate(-5deg);
    }
    25% {
        transform: scale(1.15) rotate(5deg);
    }
    30% {
        transform: scale(1.15) rotate(-3deg);
    }
    35% {
        transform: scale(1.15) rotate(2deg);
    }
    40% {
        transform: scale(1.15) rotate(0);
    }
}

